<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/nav.css">
    <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/nav_employee.css">
<!--    <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/employee_main.css">-->
    <link href="css/style.css" rel="stylesheet" />
    <style>
        /* 추가된 CSS 스타일 */
        .slideshow .slide img {
            max-height: 585px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            margin: 0 auto;
        }

        .slideshow {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
    </style>
    <title>Employee Main</title>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-xxl navbar-dark bg-white">
    <div class="container px-9">
        <a href="#"><img width="32" height="32" src="/assets/23_HP010_iLanD-main/icon/iLanD_logo.png" onclick="openPage('/')"></a>
        <h5> Employee Main </h5>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/movies&tv">Movies&TV</a></li>
                <li class="nav-item"><a class="nav-link" href="/game">Game</a></li>
                <li class="nav-item"><a class="nav-link" href="/chatting">Chatting</a></li>
                <li class="nav-item"><a class="nav-link" href="/announcement">Announcement</a></li>
                <li class="nav-item"><a class="nav-link" href="/aboutus_page">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/service_guide">Service Guide</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login(Staffs&Admin)</a></li>
            </ul>
        </div>
    </div>
</nav>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/assets/23_HP010_iLanD-main/nav.js"></script>

<div class="container-xl bg-light" style="padding-top: 15px; padding-bottom: 15px; width:100%;">
    <div class="slideshow">
        <div class="slide">
            <img src="/assets/23_HP010_iLanD-main/img/service_pic1.png" alt="Image 1">
        </div>
        <div class="slide">
            <img src="/assets/23_HP010_iLanD-main/img/service_pic2.png" alt="Image 2">
        </div>
    </div>
</div>

<!-- Icons Grid -->
<section class="contents features-icons bg-white text-center ">
    <div class="container">
        <div>
            <h3 class="menu_icon"> Staff's Management </h3>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="mainservice_button">
                    <button type="button" onclick="openPage('/management_announcement')">
                        <img width="35" height="40" src="/images/appointment-reminders--v1.png" alt="appointment-reminders--v1"/>
                    </button>
                    <h5 class="menu_icon" style="padding-top: 10px">공지 관리</h5>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="mainservice_button">
                    <button type="button" onclick="openPage('/management_contents')">
                        <img width="35" height="40" src="/images/opened-folder.png" alt="opened-folder"/>
                    </button>
                    <h5 class="menu_icon" style="padding-top: 10px">콘텐츠 관리</h5>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/assets/23_HP010_iLanD-main/iLanD_main.js"></script>

</body>
</html>