<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/nav_employee.css">
    <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/management_announcement.css">
    <title>management announcement</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav_menu">
          <li><a href="#"><img width="32" height="32" src="/assets/23_HP010_iLanD-main/icon/iLanD_logo.png" onclick="openPage('/')"></a></li>
          <div class="menu_icon_group">
            <li><a href=""><img class="menu_icon" width="26" height="26" src="/images/appointment-reminders--v1.png" alt="appointment-reminders--v1"/></a></li>
            <li><a href="/"><img class="menu_icon" width="26" height="26" src="/images/exit--v1.png" alt="exit--v1"/></a></li>
          </div>
        </ul>
    </nav>
    <script src="/assets/23_HP010_iLanD-main/nav_employee.js"></script>
    <input type="text" name="" id="" placeholder="채팅을 입력하세요.">
    <label for="check">
        <input type="checkbox" name="" id="" placeholder="채팅">
        중요 채팅
    </label>
    <input type="submit" value="save">
</div>
</body>