<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/nav.css">
    <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/aboutus_page.css">
    <link href="css/style.css" rel="stylesheet" />

    <title>About us</title>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-xxl navbar-dark bg-white">
        <div class="container px-9">
            <a href="#"><img width="32" height="32" src="/assets/23_HP010_iLanD-main/icon/iLanD_logo.png" onclick="openPage('/')"></a>
            <h5> About us </h5>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/movies&tv">Movies&TV</a></li>
                    <li class="nav-item"><a class="nav-link" href="/game">Game</a></li>
                    <li class="nav-item"><a class="nav-link" href="/chatting">Chatting</a></li>
                    <li class="nav-item"><a class="nav-link" href="/announcement">Announcement</a></li>
                    <li class="nav-item"><a class="nav-link" href="/aboutus_page">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/service_guide">Service Guide</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Login(Staffs&Admin)</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/23_HP010_iLanD-main/nav.js"></script>
    
    <div class="img-box">
        <div class="black">
            <img class="black-img" height="" src="/assets/23_HP010_iLanD-main/img/harbor.jpg">
        </div>
    </div>
    <!-- <script src="home_page.js"></script> -->

    <div class="img-text">
        <h3>ABOUT US</h4>
        <h4>갈매기를 벗삼아 차를 싣고 떠나는 섬여행,</h4>
        <p class="content">
            (주)OO해상관광은 2011년 내항여객운송사업 면허를 취득후 OOOO호<br> 
            OOO 2호 등 총 5척의 선박으로 동쪽과 남쪽은 바다에 면하고<br>
            제2의 도시이자, 제1의 무역항인 부산을 운항하고 있는 회사입니다.<br>
            <br>
            모든 것을 뭍고 쉬고 싶은 부산에서 가족과 함께 내차를 가지고 안전하고<br>
            쾌적하게 즐기시고 좋은 추억을 남기고 돌아가실 수 있도록 저희 <br>
            (주)OO해상관광 직원일동은 고객여러분께 최상의 서비스 제공할 수<br>
            있도록 노력하겠습니다.<br>
            <br>
            앞으로도 저의(주)OO해상관광에 아낌없는 조언과 관심을 부탁드리며 <br>
            바라시는 모든 일들과 가정의 행복, 건강을 기원합니다. <br>
        </p>
        <p class="content1">(주)OO해상관광 대표이사 O O O</p>
    </div>
</body>
</html>