<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <title>Service guide</title>
    <link rel="stylesheet" href="/assets/23_HP010_iLanD-main/service_guide.css">
</head>
<body>
    <div class="popup">
        <span class="close-btn" onclick="closePage()">&times;</span>
        <div class="slideshow">
            <img class="ad-image fade" src="/assets/23_HP010_iLanD-main/img/1메인서비스%20가이드.png" alt="팝업 이미지" id="popup-image" width="100%" height="100%">
            <img class="ad-image fade" src="/assets/23_HP010_iLanD-main/img/2무비앤티비%20가이드.png" alt="팝업 이미지" id="popup-image" width="100%" height="100%">
            <img class="ad-image fade" src="/assets/23_HP010_iLanD-main/img/3게임%20가이드.png" alt="팝업 이미지" id="popup-image" width="100%" height="100%">
            <img class="ad-image fade" src="/assets/23_HP010_iLanD-main/img/4채팅%20가이드.png" alt="팝업 이미지" id="popup-image" width="100%" height="100%">
            <img class="ad-image fade" src="/assets/23_HP010_iLanD-main/img/5공지사항%20가이드.png" alt="팝업 이미지" id="popup-image" width="100%" height="100%">
            <img class="ad-image fade" src="/assets/23_HP010_iLanD-main/img/6홈페이지%20가이드.png" alt="팝업 이미지" id="popup-image" width="100%" height="100%">
        </div>
    </div>
    <script src="/assets/23_HP010_iLanD-main/service_guide.js"></script>
</body>
</html>