<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/nav.css">
    <link href="css/style.css" rel="stylesheet" />
    <style>
        /* 추가된 CSS 스타일 */
        .slideshow .slide img {
            max-height: 585px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            margin: 0 auto;
        }

        .slideshow {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
    </style>
    <title>iLanD</title>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-xxl navbar-dark bg-white">
        <div class="container px-9">
            <a href="#"><img width="32" height="32" src="/assets/23_HP010_iLanD-main/icon/iLanD_logo.png" onclick="openPage('/')"></a>
            <h5> Home </h5>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/movies&tv">Movies&TV</a></li>
                    <li class="nav-item"><a class="nav-link" href="/game">Game</a></li>
                    <li class="nav-item"><a class="nav-link" href="/chatting">Chatting</a></li>
                    <li class="nav-item"><a class="nav-link" href="/announcement">Announcement</a></li>
                    <li class="nav-item"><a class="nav-link" href="/aboutus_page">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/service_guide">Service Guide</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Login(Staffs&Admin)</a></li>
                </ul>
            </div>
        </div>
    </nav>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/assets/23_HP010_iLanD-main/nav.js"></script>

    <div class="container-xl bg-light" style="padding-top: 15px; padding-bottom: 15px; width:100%">
        <div class="slideshow">
            <div class="slide">
                <img src="/assets/23_HP010_iLanD-main/img/image1.png" alt="Image 1">
            </div>
            <div class="slide">
                <img src="/assets/23_HP010_iLanD-main/img/image2.png" alt="Image 2">
            </div>
            <div class="slide">
                <img src="/assets/23_HP010_iLanD-main/img/image3.png" alt="Image 3">
            </div>
        </div>
    </div>

    <!-- Icons Grid -->
    <section class="contents features-icons bg-white text-center ">
        <div class="container">
            <div>
                <h3 class="menu_icon"> Featured Services </h3>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="mainservice_button">
                        <button type="button" onclick="openPage('/movies&tv')">
                            <img src="/assets/23_HP010_iLanD-main/icon/icons8-video-64.png"/>
                        </button>
                        <h5 class="menu_icon">Movies & TV</h5>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="mainservice_button">
                        <button type="button" onclick="openPage('/game')">
                            <img src="/assets/23_HP010_iLanD-main/icon/icons8-nintendo-switch-pro-controller-64.png"/>
                        </button>
                        <h5 class="menu_icon">Game</h5>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="mainservice_button">
                        <button type="button" onclick="openPage('/chatting')">
                            <img src="/assets/23_HP010_iLanD-main/icon/icons8-comments-64.png"/>
                        </button>
                        <h5 class="menu_icon">Chatting</h5>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="mainservice_button">
                        <button type="button" onclick="openPage('/announcement')">
                            <img src="/assets/23_HP010_iLanD-main/icon/icons8-notification-64.png"/>
                        </button>
                        <h5 class="menu_icon">Announcement</h5>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="mainservice_button">
                        <button type="button" onclick="openPage('/aboutus_page')">
                            <img src="/assets/23_HP010_iLanD-main/icon/icons8-web-64.png"/>
                        </button>
                        <h5 class="menu_icon">About us</h5>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="mainservice_button">
                        <button type="button" id="service_guide_button" onclick="openPage('/service_guide')">
                            <img src="/assets/23_HP010_iLanD-main/icon/icons8-touchscreen-64.png"/>
                        </button>
                        <h5 class="menu_icon">Service guide</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>


<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/assets/23_HP010_iLanD-main/iLanD_main.js"></script>


    <!-- Footer-->
    <footer class="footer bg-light">
        <div class="text-center">
            <h class="text-muted small mb-1 mb-lg-0">Location : 한양여자대학교 / 서울특별시 성동구 살곶이길 200</h><br>
            <h class="text-muted small mb-1 mb-lg-0">Business number : 02-011-2929 / Contact : 곽민정, 박예은</h><br>
            <p class="text-muted small mb-1 mb-lg-0">&copy; iLanD 2023. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>