/* 반응형 */
/* 모든기기공통 CSS */
body {background-color: #EFF4F9;
    margin: 0; padding: 0;}

/*!* 사진 & 사진 위 글자 그룹 (전체 뷰포트를 포함하도록 이미지 설정) *!*/
/*.img-box {*/
/*    position: fixed;*/
/*    width: 100vw; !* 뷰포트 너비의 100% *!*/
/*    height: 100vh; !* 뷰포트 높이의 100% *!*/
/*    overflow: hidden; !* 이미지가 더 큰 경우 오버플로 숨기기 *!*/
/*    z-index: 1; !* 이미지 컨테이너의 z-index 값 설정 *!*/

/*}*/

/*!* 컨테이너에서 이미지 스타일 지정 *!*/
/*.img-box img {*/
/*    width: 300%; !* 이미지 너비를 해당 컨테이너의 300%로 설정 *!*/
/*    height: 100%; !* 이미지 높이를 컨테이너의 100%으로 만듦 *!*/
/*    object-fit: cover; !* Maintain aspect ratio and cover the container *!*/
/*    transform: translateX(0%); !* Start the image from the left *!*/
/*}*/

/*!* 이미지 위에 반투명 직사각형 오버레이 *! */
/*!* img .black-img {*/
/*    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));*/
/*} *! !* 이거 왜 안될까...? 만약에 이거 성공하면 .img-box 포지션 relative 지우기 *!*/
/*.black {*/
/*    position: absolute;*/
/*    background-color: black;*/
/*    filter: brightness(60%);*/
/*}*/

/*!* 이미지 위에 글씨쓰기 *!*/
/*.black-img {*/
/*    position: relative;*/
/*}*/

/*.img-text {*/
/*    margin: 0px 16px;*/
/*}*/

/*.img-text .content, .img-text .content1 .content2{*/
/*    position: absolute;*/
/*    color: white;*/
/*    font-size: 10px;*/
/*    font-style: normal;*/
/*}*/

/*.content2 {bottom: 20%}*/
/*.content {bottom: 6%;}*/
/*.content1 {bottom: 2%}*/

/*h3, h4 {*/
/*    position: absolute;*/
/*    color: white;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*}*/
/*h3 {bottom: 31%; font-size: 20px;}*/
/*h4 {bottom: 28%; font-size: 14px;}*/

.img-container {
    position: relative;
    width: 100%;
    height: 93vh;
    overflow: hidden;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/* Gradient 추가 */
.img-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)); /* 어두운 gradient 설정 */
    z-index: 1; /* 이미지 위에 배치하기 위해 z-index 설정 */
}
.img-overlay {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    padding: 20px;
    width: 95%;
    z-index: 2; /* 텍스트가 gradient 위에 나타나도록 z-index 조정 */
}

.about-us, .title-info, .company-info, .ceo-info {
    font-size: 2vw; /* 원하는 폰트 크기로 설정 */
    font-weight: bold; /* 원하는 폰트 굵기로 설정 */
}
@media (min-width: 800px) {
    .about-us, .title-info, .company-info, .ceo-info {
        font-size: 16px; /* 원하는 크기로 고정 */
    }
}