/* 반응형 */
/* 모든기기공통 CSS */
* {margin: 0; padding: 0;}

body {background-color: white;}
    
a {
    text-decoration: none;
    color: black;
  }
  
  li {
    list-style: none;
  }
  
  .wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h2 {
    color: black;
    font-size: 1.25em;
    margin-top: 30px;
  }

  .login-img li {
    padding: 0px 100px;
  }
  
  .login-img a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login_id {
    width: 100%;
  }
  
  .login_id input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-top: 16px;
    padding: 0px 13px;
    border: 1px solid lightgray;
    outline: none;
  }
  
  .login_pw {
    width: 100%;
  }
  
  .login_pw input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-top: 16px;
    padding: 0px 13px;
    border: 1px solid lightgray;
    outline: none;
  }
  
  .submit {
    margin-top: 16px;
    width: 100%;}

  .login_sb {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 5px;
    background: #1E90FF;
    color: white;
    font-size: 1em;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  .signup_sb {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 5px;
    background: #ffe11e;
    color: white;
    font-size: 1em;
    letter-spacing: 2px;
    margin-bottom: 100px;
  }