body{
    background-color: #72A8DE;
    margin: 0; padding: 0;
  }
  
  /* 상단 gamebar */
  .gamebar {
    width: auto;
    padding: 0;
    margin: 0;
    
  }
  
  #timer {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
  }
  
  .align-right h4 {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    width: 270px !important;  /* 수정해야됨 !!!!!!!!!!!!!!!!!!! */
  }
  
  .game_menu {
    display: flex;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }
  
  .align-right {
    display: flex;
    list-style: none;
    margin-left: auto;
  }
  
  .game_menu li {
    position: relative;
    padding: 20px 6px;
    width: 32px;
    height: 32px;
  }
  
  .game_menu img {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* 그림판 */
  .artboard {
    display: flex;
    flex-direction: column; /* 내려갈 수 있도록 세로 배치 */
    justify-content: flex-end; /* 맨 아래로 정렬 */
    margin: 0px 16px;
    width: auto;
    height: 340px;
    border-radius: 20px;
    background-color: white;
    position: relative;
  }
  
  /* 그림판 안에 가로 실선 */
  .artboard::after {
    content: '';
    position: absolute;
    bottom: 44px; 
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;/* 실선의 색상 */
    transform: translateY(-50%); /* 선을 세로 중앙으로 이동 */
  }
  
  /* 그림판 아이콘 */
  .navbar1 {
    width: auto;
    padding: 0;
    margin: 0;
  }
  
  .menu_icon_group1 {
    display: flex;
    list-style: none;
    margin-left: auto;
  }
  
  .menu_icon1 {
    /* opacity: 0.7; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .nav_menu1 li {
    position: relative;
    padding: 6px 4px; /* 아이콘 사이 간격 패딩 */
    width: 32px;
    height: 32px;
  }
  
  
  .nav_menu1 {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 8px; /* 아이콘 바깥쪽 패딩 */
  }
  
  /* 채팅창 */
  .chat {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.35);
    height: 30vh; /* 밑에 채팅 창에 따라수정해야됨 !!!!!!!!!!!!!!!!!!! */
    width: auto;
  }
    