/* 반응형 */
/* 모든기기공통 CSS */
body {background-color: #ffffff;
    margin: 0; padding: 0;}

.top-button {
  display: flex;
  align-items: center; /* 요소들을 세로 가운데 정렬 */
  margin: 20px 16px;
}

/* 입력 창과 아이콘을 감싸는 div 스타일 */
.search-container {
  display: flex;
  align-items: center;
  border: solid 1px black;
  padding: 0px 10px;
  height: 40px;
  border-radius: 20px;
  border-color: #d2d2d2;
  /* width: 68vh; 반응형으로 맞추기 */
}

/* 입력 창 스타일 */
.search-input {
  border: none;
  padding: 6px;
}

img .search-button {
  opacity: 0.7;
}

/* 검색 버튼 (투명 버튼) */
.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* 콤보버튼(필터) */
#combobox {
  height: 40px;
  width: 34%;
  margin-right: 8px;
  padding: 0px 10px;
  border-radius: 20px;
  border-color: #d2d2d2;
}

h3 {
    margin-top: 20px;
    margin-left: 16px;
    font-size: 16px;
    font-style: normal;
}

/* 영화리스트 박스 */
.m-list-box table {
    border-collapse: collapse;
    border: 1px solid #cccccc;
    text-align: center;
    margin: 0 auto;
    width: 90%; 
}

#head-tr h4{
    font-size: 12px;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}

td #title-box {
    width: 70px;
}

td #date-box {
    width: 18px;
}

td, th {
    border: 1px solid #cccccc; 
    padding: 3.5px;
}

td #add {
    height: 22.33px;
    background-color: #1E90FF;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 2px;
    color: white;
}

#content-tr h5{
    font-size: 10px;
    font-style: normal;
    margin: 0;
}

td #point-blue {
    color: #1E90FF;
}

/* input border 색 변경 */
input[type="text"],
input[type="url"],
input[type="date"],
input[type="submit"],
input[type="checkbox"] {
  border: 1px solid #cccccc;
}

/* 클래스 search-container는 테두리 없이 */
.search-container input[type="text"],
.search-container input[type="url"],
.search-container input[type="date"],
.search-container input[type="submit"],
.search-container input[type="checkbox"] {
  border: none;
}

/* input type date의 placeholder(글자) 없애기 */
input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}