@charset "utf-8";

/* 반응형 */
/* 모든기기공통 CSS */
body {
    background-color: #EFF4F9;
    margin: 0; padding: 0;}

h2{
    font-size: 20px;
    margin: 20px 16px;
    text-align: left;
}

h3{
    margin: 0px 8px 12px 8px;
    font-size: 16px;
}

.main_movie{
    margin: 0px 16px 20px 16px;
    display: inline-block;
    text-align: left;
}

.boxM{
    /* border: 1px solid black ; */
    background-color: white;
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin: 0px 16px 20px 16px;
    padding: 20px 8px;
}

.boxM img {
    max-width: 92px;
    height: auto !important;
}

.m1 , .m2 , .m3 , .m4 , .m5 , .m6 , .t1 , .t2 , .t3 , .t4 , .t5 , .t6{
    padding: 8px 8px 0px 8px;
}
