<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/nav.css">
    <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/announcement.css">
    <link href="css/style.css" rel="stylesheet" />
    <title>Announcement</title>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-xxl navbar-dark bg-white">
        <div class="container px-9">
            <a href="#"><img width="32" height="32" src="/assets/23_HP010_iLanD-main/icon/iLanD_logo.png" onclick="openPage('/')"></a>
            <h5> Announcement </h5>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/movies&tv">Movies&TV</a></li>
                    <li class="nav-item"><a class="nav-link" href="/game">Game</a></li>
                    <li class="nav-item"><a class="nav-link" href="/chatting">Chatting</a></li>
                    <li class="nav-item"><a class="nav-link" href="/announcement">Announcement</a></li>
                    <li class="nav-item"><a class="nav-link" href="/aboutus_page">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/service_guide">Service Guide</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Login(Staffs&Admin)</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/23_HP010_iLanD-main/nav.js"></script>
    <script src="/assets/23_HP010_iLanD-main/announcement.js"></script>

    <div class="top-button">
        <select name="combobox" id="combobox">
            <option value="3">날짜</option>
            <option value="1">제목</option>
            <option value="2">내용</option>
        </select>
        <form action="검색결과페이지.html" method="GET"> <!--html 링크 추후 수정-->
            <!-- 입력 창과 아이콘을 감싸는 div -->
            <div class="search-container">
                <!-- 입력 창 생성 -->
                <input type="text" name="검색어" placeholder="검색어를 입력하세요" class="search-input">
                <!-- 검색 버튼 (이미지 아이콘) -->
                <button type="submit" class="search-button">
                    <img width="20" height="20" src="https://img.icons8.com/sf-regular/48/search.png" alt="search"/>
                </button>
            </div>
        </form>
    </div>
    <div class="card mb-4">
        <div class="card-header" style="background-color: #EFF4F9">📌 중 요 공 지 📌</div>
        <div class="card-body announcement_important">

        </div>

    </div>
    <div class="card mb-4">
        <div class="card-header" style="background-color: #EFF4F9"> 일 반 공 지 </div>
        <div class="card-body announcement_area">

        </div>
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <!-- 현재 페이지 번호가 10 이상일 경우, 이전 페이지 그룹의 첫 번째 페이지로 이동 -->

                <li class="page-item" th:if="${(currentPage / 10 ) * 10 > 0}">
                    <a class="page-link" th:href="@{/announcement?page=} + ${(currentPage / 10 - 1) * 10}" aria-label="Go to the first page of the next group">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>

                <!-- 현재 페이지 그룹의 페이지 번호들을 표시. 현재 페이지 번호 기준으로 10개 페이지를 표시 -->
                <li th:each="pageNumber : ${#numbers.sequence((currentPage / 10) * 10, (currentPage / 10) * 10 + 9)}"
                    th:if="${pageNumber < totalPages}"
                    class="page-item"
                    th:class="${pageNumber == currentPage ? 'active' : ''}">
                    <a class="page-link" th:href="@{/announcement?page=} + ${pageNumber}" th:text="${pageNumber + 1}"></a>
                </li>

                <!-- 현재 페이지 그룹의 마지막 페이지가 전체 페이지 수보다 작을 경우, 다음 페이지 그룹의 첫 번째 페이지로 이동 -->
                <li class="page-item" th:if="${(currentPage / 10 + 1) * 10 < totalPages}">
                    <a class="page-link" th:href="@{/announcement?page=} + ${(currentPage / 10 + 1) * 10}" aria-label="Go to the first page of the next group">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let currentPage = [[${currentPage}]];
    /*]]>*/
</script>
</body>
</html>