<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/nav.css">
    <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/chatting.css">
    <link href="/css/style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/23_HP010_iLanD-main/nav.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/assets/23_HP010_iLanD-main/chatting.js"></script>
    <title> Chatting Room </title>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-xxl navbar-dark bg-white">
    <div class="container px-9">
        <a href="#"><img width="32" height="32" src="/assets/23_HP010_iLanD-main/icon/iLanD_logo.png" onclick="openPage('/')"></a>
        <h5> Chatting Room </h5>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/movies&tv">Movies&TV</a></li>
                <li class="nav-item"><a class="nav-link" href="/game">Game</a></li>
                <li class="nav-item"><a class="nav-link" href="/chatting">Chatting</a></li>
                <li class="nav-item"><a class="nav-link" href="/announcement">Announcement</a></li>
                <li class="nav-item"><a class="nav-link" href="/aboutus_page">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/service_guide">Service Guide</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login(Staffs&Admin)</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="card mb-4">
    <div class="card-header" style="background-color: #EFF4F9"> 채팅 페이지 </div>
    <div class="card-body watch_area d-flex justify-content-center">

        <!-- 컨텐츠(여기부터 삽입 됩니다.) -->
        <div id="main-content" class="container">
            <div class="d-flex justify-content-between" style="padding: 10px">
                <button id="chatConnect" class="btn btn-primary" type="button" style="padding: 10px">채팅방 입장</button>
                <button id="chatDisconnect" class="btn btn-danger" type="button" disabled="disabled" style="padding: 10px">채팅방 나가기</button>
            </div>

            <div class="col-md-12">
                <div id="conversation" class="chat-container">
                    <!-- 채팅 내용이 동적으로 추가될 곳 -->
                </div>
            </div>

            <div class="d-flex justify-content-between" style="padding-top: 10px">
                <input type="text" id="chattingMessage" class="form-control" placeholder="메시지를 입력하세요...">
                <button id="messageSend" class="btn btn-success" type="button" style="width: 70px">전송</button>
            </div>
        </div>
    </div>
</div>
<!-- 컨텐츠(여기까지 삽입 됩니다.) -->
</body>
</html>