<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/nav.css">
    <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/game.css">
    <title>Game</title>
</head>
<body>
  <!-- 네비게이션 바 -->
  <nav class="navbar">
    <ul class="nav_menu">
      <li><a href="#"><img width="32" height="32" src="/assets/23_HP010_iLanD-main/icon/iLanD_logo.png" onclick="openPage('/')"></a></li>
      <div class="menu_icon_group">
        <li><a href=""><img class="menu_icon" width="26" height="26" src="https://img.icons8.com/fluency-systems-regular/48/appointment-reminders--v1.png" alt="appointment-reminders--v1"/></a></li>
        <li><a href=""><img class="menu_icon" width="26" height="26" src="https://img.icons8.com/fluency-systems-regular/48/menu--v1.png" alt="menu--v1"/></a></li>
      </div>
    </ul>
  </nav>
  <script src="/assets/23_HP010_iLanD-main/nav.js"></script>

  <!-- 게임 아이콘과 타이머 -->
  <div class="gamebar">
    <ul class="game_menu">
      <li><a href=""><img class="game_icon" width="26" height="26" src="https://img.icons8.com/fluency-systems-regular/48/alarm-clock--v1.png" alt="alarm-clock--v1"/></a></li>
      <li><p id="timer">100</p></li>
      <div class="align-right">
        <li><h4>물만두</h4></li>
        <li><a href=""><img class="game_icon" width="26" height="26" src="https://img.icons8.com/fluency-systems-regular/96/exit--v1.png" alt="exit--v1"/></a></li>
      </div>
    </ul>
  </div>
  <script>
    let seconds = 100;
    const timerElement = document.getElementById('timer');

    function updateTimer() {
      if (seconds > 0) {
        seconds--;
        timerElement.textContent = seconds;
      } else {
        clearInterval(interval);
        timerElement.textContent = 'Time';
      }
    }

    const interval = setInterval(updateTimer, 1000); // 1초마다 updateTimer 함수 실행
  </script>
  <!-- 그림판 -->
  <div class="artboard">
      <div class="navbar1">
        <ul class="nav_menu1">
          <li><a href=""><img class="menu_icon1" width="24" height="24" src="/assets/23_HP010_iLanD-main/icon/icons8-edit-64.png"/></a></li>
          <li><a href=""><img class="menu_icon1" width="24" height="24" src="/assets/23_HP010_iLanD-main/icon/icons8-paint-palette-64.png"/></a></li>
          <li><a href=""><img class="menu_icon1" width="24" height="24" src="/assets/23_HP010_iLanD-main/icon/icons8-eraser-64.png"/></a></li>
          <li><a href=""><img class="menu_icon1" width="24" height="24" src="/assets/23_HP010_iLanD-main/icon/icons8-fill-color-64.png"/></a></li>
          <div class="menu_icon_group1">
            <li><a href=""><img class="menu_icon1" width="20" height="20" src="/assets/23_HP010_iLanD-main/icon/icons8-arrow-90-left.png" alt="go-back"/></a></li>
            <li><a href=""><img class="menu_icon1" width="20" height="20" src="/assets/23_HP010_iLanD-main/icon/icons8-arrow-90-right.png" alt="go-back"/></a></li>
          </div>
        </ul>
      </div>
  </div>

  <!-- 채팅 -->
  <div class="chat"></div>
  
</body>
</html>