<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/nav.css">
    <link rel="stylesheet" type="text/css" href="/assets/23_HP010_iLanD-main/movies&tv.css">
    <title>Movies & TV</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav_menu">
          <li><a href="#"><img width="32" height="32" src="/assets/23_HP010_iLanD-main/icon/iLanD_logo.png" onclick="openPage('/')"></a></li>
          <div class="menu_icon_group">
            <li><a href=""><img class="menu_icon" width="26" height="26" src="https://img.icons8.com/fluency-systems-regular/48/appointment-reminders--v1.png" alt="appointment-reminders--v1"/></a></li>
            <li><a href=""><img class="menu_icon" width="26" height="26" src="https://img.icons8.com/fluency-systems-regular/48/menu--v1.png" alt="menu--v1"/></a></li>
          </div>
        </ul>
      </nav>
      <script src="/assets/23_HP010_iLanD-main/nav.js"></script>
      
      <div>
        <h2>TOP 5 Movie & TV</h2>
      </div>
      <div>
        <img class ="main_movie" src="/assets/23_HP010_iLanD-main/img/moive_.png" alt="">
      </div>

      <div class = "boxM">
        <h3>Movies List</h3>
        
        <img class="m1" src="/assets/23_HP010_iLanD-main/img/ml_1.jpg" alt="suzeme" style="width: 340px; height: 468.87px;">
        <img class="m2" src="/assets/23_HP010_iLanD-main/img/ml_2.jpg" alt="job" style="width: 340px; height: 468.87px;">
        <img class="m3" src="/assets/23_HP010_iLanD-main/img/ml_3.jpg" alt="city" style="width: 340px; height: 468.87px;">
        <img class="m4" src="/assets/23_HP010_iLanD-main/img/ml_4.jpg" alt="gift" style="width: 340px; height: 468.87px;">
        <img class="m5" src="/assets/23_HP010_iLanD-main/img/ml_5.jpg" alt="ship" style="width: 340px; height: 468.87px;">
        <img class="m6" src="/assets/23_HP010_iLanD-main/img/ml_6.jpg" alt="maze" style="width: 340px; height: 468.87px;">
      </div>

      <div class = "boxM">
        <h3>TV List</h3>
        <img class="t1" src="/assets/23_HP010_iLanD-main/img/tl_1.jpg" alt="doctor" style="width: 340px; height: 468.87px;">
        <img class="t2" src="/assets/23_HP010_iLanD-main/img/tl_2.jpg" alt="melo" style="width: 340px; height: 468.87px;">
        <img class="t3" src="/assets/23_HP010_iLanD-main/img/tl_3.jpg" alt="20's" style="width: 340px; height: 468.87px;">
        <img class="t4" src="/assets/23_HP010_iLanD-main/img/tl_4.jpg" alt="taxi" style="width: 340px; height: 468.87px;">
        <img class="t5" src="/assets/23_HP010_iLanD-main/img/tl_5.jpg" alt="family" style="width: 340px; height: 468.87px;">
        <img class="t6" src="/assets/23_HP010_iLanD-main/img/tl_6.jpg" alt="signal" style="width: 340px; height: 468.87px;">
      </div>
      
</body>
</html>